<!DOCTYPE html>
<html lang="en-us">
<head>
    <meta charset="utf-8"/>
    <title>Only for testing</title>  
    <link href="style/navStyle.css" rel="stylesheet" />
</head>
<body ng-app="IssueTracker" ng-controller="myControler">
    <header>
        <nav>
            <button>Go Back To Project</button>
            <button ng-click="changeView()">Dashboard</button>
            <button>Projects</button>
        </nav>
    </header>
    Select view:
<select ng-model="projectView">
    <option value="{{ projectView }}">Add Project</option>
    <option value="{{ issueView }}">Add Issue</option>
    <option value="{{ dashboardView }}">Dashboard</option>
    <option value="{{ newProjectView }}">New Project View</option>
    <option value="{{ issuePageView }}">Issue Page</option>
</select>
    <br />
    <br />
    <div ng-include="projectView" id="testDiv"></div>
    <script src="scripts/angular.js"></script>
    <script src="scripts/app.js"></script>
</body>
</html>