    <form action="/" method="post">
        <p>New Project</p>
        <label>Name</label>
        <input type="text" value="new project"/>
        <br />
        <label>Description</label>
        <input type="text" value="lorem ipsum"/>
        <br />
        <label>ProjectKey</label>
        <input type="text" value="np" />
        <br />
        <label>LeadId</label>
        <input type="text" value="georgi@goshku.com" />
        <br />
        <label>Priorities (separated by comma)</label>
        <input type="text" value="Low, Medium, Urgent" />
        <br />
        <button>Add Project</button>
    </form>