<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Issue page</title>
    <link href="../style/navStyle.css" rel="stylesheet" />
</head>
<body>
    <form action="/" method="post">
        <p>Issue page</p>
        123adfj-6
        <button>Edit</button>
        <br />
        <label>Title</label>
        <input type="text" value="problem4" />
        <br />
        <label>Description</label>
        <input type="text" value="super"/>
        <br />
        <label>AssigneedId(cuurrent id: e0e672ee-9382-4860-98be-cfa68743a20a)</label>
        <input type="text" value="admin@softuni.bg" />
        <br />
        <label>PriorityId(current id: 1)</label>
        <input type="text" value="Low" />
        <br />
        <label>DueDate</label>
        <input type="text" value="2016-05-23T00:00:00" />
        <span>Author: admin@softuni.bg</span>
        <span>Project: entierly new project</span>
        <span>Statis: Open</span>
        <span>Lables:</span>
    </form>
    <br />
    <form>
        <p>admin@softuni.bg - 2016-04-11T11:00:30.967</p>
        <label>spammm</label>
        <br />
        <br />
    </form>
    <br />
    <div>
        <label>Text:</label>
        <textarea></textarea>
    </div>
    <button>Add Comment</button>
</body>
</html>
