<!DOCTYPE html>
<html lang="en-us">
<head>
    <meta charset="utf-8" />
    <title>Projects</title>
    <link href="style/navStyle.css" rel="stylesheet" />
    <link href="style/addNewProjectForm.css" rel="stylesheet" />
</head>
<body>
    <header>
        <nav>
            <button>Dashboard</button>
            <button>Projects</button>
        </nav>
    </header>
    <form action="/" method="post">
        <p>Projects</p>
        <label>entirely new project</label>
        <input type="button" value="View" />
        <br />
        <label>Market System</label>
        <input type="button" value="View" />
        <br />
        <label>SoftUni Issue Tracker</label>
        <input type="button" value="View" />
        <br />
        <button>Add New Project</button>
    </form>

    <script src="scripts/angular.js"></script>
</body>
</html>
